[submodule "search/helsinki-ttwi"]
	path = smr/helsinki-ttwi
	url = git@github.com:davidgarfinkle/helsinki-ttwi
	branch = c
[submodule "search/verovio"]
	path = search/verovio
	url = git@github.com:rism-ch/verovio.git
