[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
tqdm = "*"

[packages]
numpy = "*"
pandas = "*"
music21 = "*"
flask = "*"
pytest = "*"
requests = "*"
scmr-search = {editable = true,path = "."}
sqlalchemy = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"

[scripts]
test = "pytest"
